.nav-item {
    display: inline;
}
.menu-item {
    display:inline;
}
body {
    background: rgb(30, 160, 192);
    color : white;
}

  
  .icerik {
      width: 100%; 
      height: 100%;
      background: white;
      font-size: 4em;
      color: #070707;
      
      /* icerigi ortaliyoruz */
      /* position: absolute;
      left: 50%; top: 50%;
      margin-left: -125px; margin-top: -50px; */
      
      text-align: center;
      line-height: 100px;
      
      border-top: 5px solid rgb(3, 252, 252);
      background-color: black;
    color: white;
  }
  
  p, a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0; 
    text-align: center;
  }
.aquatheme {
  background-color : cyan;
  display : grid;
  grid-template-columns : 33% 33% 33%;
  grid-column-gap: 0.5%;
}
.hd1 {
  background-color : rgb(30, 160, 192);
  display : grid;
  grid-template-columns: 30% 70%;
}
.hd2 {
  display : grid;
  grid-template-columns: 50% 50%;
}
.text {
  text-align: center;
}
.adminheader {
  display : grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.allfield {
  display : grid;
  grid-template-columns: 50% 50%;
}
.bkviewall {
  display : grid;
  grid-template-columns: 40% 60%;
}
.bkview1 {
  display : grid;
  grid-template-columns: auto auto auto;
}
.bkview2 {
  display : grid;
  grid-template-columns: auto auto;
}
.evviewall {
  display : grid;
  grid-template-columns: 50% 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #070707;
}
li a {
  font-weight: 701;
  font-size: 1.5em;
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(5, 217, 255);
}
nav {
  margin-top : 30px;
  /* height: 50px;
  padding-left : 30%;
  background-color : cyan; */
}
.hda li a {
  background : gray;
}
.hda li a:hover {
  background-color: rgb(5, 217, 255);
}
.break {
  margin-left : 30px;
  padding-top : 15px;
  clear : both;
}
.align {
  line-height: 25px;
  width: 100%;
}